
/**********BASE STYLES*************/
body {
    background: #FFFFFF;
    font-family: 'Spectral', serif;
    font-size: 18px;
    color: #383431;
    text-align: justify;
}

/*********** GRID ****************/
.full-width { width: 1200px;
              clear:both;
}
.half-width { 
			width: 580px;
            padding: 0 10px;
            float: left;
}
.third-width { 
			width: 380px;
            padding: 0 10px;
            float: left;

}

.contact-me {
  font-family: 'Dawning of A New Day', cursive;
  font-size: 15px;
}

/************ NAVIGATION **********/

nav {
  font-family: 'Spectral', serif;
  font-size: 18px;
  color: #021612;
  letter-spacing: 2px;
  word-spacing: 10px;
  float: right;
  
}
nav ul {
  list-style-type: none;
  line-height: 10px;
}

nav li {
    display: inline-block;

}

/************ MAIN ***************/

main { height: 1050px;
      margin-left: 10px;
      margin-bottom: 125px;
}

main h1 {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 60pt;
  font-weight: 400;
  color: #021612;
  text-indent: 80px;
  padding-left: 300px;
  margin: -50px;
}

main h3 {
  font-family: 'Dawning of a New Day', serif;
  font-size: 45px;
  font-weight: 400;
  color: #021612;
  text-transform: capitalize;
  text-align: center;
  line-height:10px;
}
main h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #021612;
  margin-bottom: -10px;
  text-align: justify;
  text-transform: capitalize;
}

/************ INTRO **************/

#home-page-image img {
  margin: 10px 350px 0 350px;
  border: 1px solid black;
}

#guaranteed {
	letter-spacing: 3px;
}

#intro-heading {
	text-indent: -25px;
}

/************ ABOUT PAGE ***************/
#about {
        height: 610px;
}

#about-pic {
        margin: 0 20px;
        text-align: center;
        font-size: 12px;
      }

/************ WORK PAGE ***************/

#work {
        height: 800px;
        margin: 20px;
        padding: 0 10px 30px 10px;
        text-align:left;
               }
#portfolio {
        text-align: left;
}

#card {
        text-align: right;
        padding: 5px;
        margin-left: 5px;
}

a {
    text-decoration:none;
    color:inherit;

}

#project {
  text-align: right;
}
/************ FOOTER: CONTACT ME ***************/

footer {
        height: 200px;
        clear:top;
        margin: 10px 10px;
        background: #eefcf8;
        padding-top: 30px;
        }

footer h2 {
  font-family: 'Dawning of a New Day', sans-serif;
  font-size: 30pt;
  font-weight: 400;
  color: #021612;
  margin-bottom: -10px;
  text-align: center;
  text-transform: capitalize;
}

footer h4 {
          text-align: center;
          margin-bottom: 0px;
        }
footer h6 {
          font-family: 'Spectral', serif;
          font-size: 18px;
          text-align: center;
          margin-bottom: 0px;
}

a {
        text-decoration: none;
        text-shadow: none;
        color:inherit;
               }

footer ul {
          list-style-type: none;
          line-height: 10px;
          margin: 0 10px 0 380px;
               }

footer li {
          display: inline-block;
          margin-right: 10px
          
               }
               
.contact-me {
        font-family: 'Spectral', serif;
        font-size: 20px;
        text-transform: lowercase;
        letter-spacing: 2px;
		}